## Fibonacci series

In [1]:
def F(n):
    if n==0 or n == 1:
        return n
    return F(n-1) + F(n-2)
    
for i in range(0,12):
    print(F(i))

0
1
1
2
3
5
8
13
21
34
55
89

## Palindrom

In [2]:
def isPalindrome(s):
    rev="".join(reversed(s))
    if (s==rev):
        return True
    return False
isPalindrome("madam")

True

In [3]:
def isPalindrome(s):
    rev="".join(reversed(s))
    if (s==rev):
        return True
    return False
isPalindrome("true")

False

## set of duplicates

In [4]:
l=[1,2,3,4,5,6,7,8,64,3,2,1,4,5,65,65,443,32]
print(set([x for x in l if l.count(x)>1]))

{1, 2, 3, 4, 5, 65}

In [5]:
s="My name is Rishabh"
print(len(s.split()))

4

In [6]:
print(s.split())

['My', 'name', 'is', 'Rishabh']

## searching in arr

In [7]:
def search(arr,x):
    for i in range(len(arr)):
        if arr[i]==x:
            return i
    print("Not in list")

arr=[1,2,3,4,5,67,7,8,6,5,3,2,1,3,5]
search(arr,4)

3

## Prime no

In [8]:
def  primenumber(n):
    if(n<=0 or n==1):
        return False
    for i in range(2,n):
        if (n%i==0):
            return False
    return True

a=int(input())
print(primenumber(a))

707
False

In [9]:
def primenumber(n):
    if(n<=0 or n==1):
        return False
    for i in range(2,n):
        if(n%i==0):
            return False
    return True
a=[]
for i in range(1,300):
    if(primenumber(i)):
        a.append(i)
print(len(a))
print(a)

62
[2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47, 53, 59, 61, 67, 71, 73, 79, 83, 89, 97, 101, 103, 107, 109, 113, 127, 131, 137, 139, 149, 151, 157, 163, 167, 173, 179, 181, 191, 193, 197, 199, 211, 223, 227, 229, 233, 239, 241, 251, 257, 263, 269, 271, 277, 281, 283, 293]

## Replacing specific letter with specific string

In [10]:
a="Rishabh"
b=[]
def sl(a):
    for i in a:
        if i=="a":
            b.append("*****")
        else:
            b.append(i)
    return"".join(b)
print(sl(a))

Rish*****bh

## TAbel

In [11]:
a=int(input())
def Multiplication(a):
    for i in range(1,11):
        print(a,"x",i ,"=",a*i)
        
Multiplication(a)

23
23 x 1 = 23
23 x 2 = 46
23 x 3 = 69
23 x 4 = 92
23 x 5 = 115
23 x 6 = 138
23 x 7 = 161
23 x 8 = 184
23 x 9 = 207
23 x 10 = 230

## Frequency

In [12]:
def frequency(a,b):
    c=0
    for i in a:
        if i==b:
            c+=1
    return c
a=[1,1,1,1,9,7,6,5]
b=1
print(frequency(a,b))

4